.banner-component {
  width: 70%;

  .banner-headline {
    font-family: $font-banner-headline;
    font-size: 120px;
    fill: #ffffff;
  }

  h1 {
    font-family: $font-banner-subtitle;
    font-size: 40px;
    color: #111111;
  }
}

