/* Certification Card */

.certification-card {
  .card-component {
    width: 230px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 125px;

    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25);
    border-radius: 8px;

    .icon {
      height: 170px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: #4EE3C2;
    }

    .text {
      position: relative;
      height: 300px - 170px; /* height of card minus icon */
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      @include font-circular
      color: #939597;
      
      h1 {
        font-weight: bold;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 5px;
      }

      p {
        font-size: 12px;
        margin-bottom: 0px;
      }
      
      .sender {
        position: absolute;
        bottom: 20px;
        font-size: 12px;
        font-weight: bold;
        margin-top: 18px;
      }
    }
  }
}
