.decimal-number {
  stroke: none;
  fill: $circuit-decimal-text-fill;
  font-size: 80px;
  font-family: $font-circuit-label;
  -webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
  user-select: none;
}

.decimal-number-rect {
  stroke: $circuit-decimal-rect-stroke;
  stroke-width: 1px;
  fill: $circuit-decimal-rect-fill;
}

