/* Smiling User face and info card */

.profile-card {
  height: 200px;
  margin-top: -24px; /* FIXME, hack to get rid of gap */

  background: #A6D5EB;
 
  .text {
    @include font-circular
    color: #ffffff;

    /* vertically align */
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    /* horizontally align */
    margin: 0 auto;

    width:600px;
    
    h1 {
      font-weight: bold;
      font-size: 70px;
      margin-bottom: 0px;
    }

    p {
      font-size: 25px;
    }
  }
}
