@import './base/_fonts';
@import './base/_base';

@import './components/_BootstrapNavbarComponent';
@import './components/_CertificationCardsContainer';
@import './components/_CertificationCardComponent';
@import './components/_SearchResultUserCardComponent';
@import './components/_UserProfileCardComponent';
@import './components/_CertifyFormComponent';
@import './components/_CertifyFormReceiverComponent';
