$circuit-color-on	: #FF2B84;
$circuit-color-off: #D2E9EA;
$circuit-color-hover: #A0DDDF;
$circuit-decimal-text-fill: #BAD5D6;
$circuit-decimal-rect-fill: #F5FAFA;
$circuit-decimal-rect-stroke: #EBEFF0;
$body-copy-color: #636D6E;
$body-light: #E4EFF0;
/*$global-transition-time: 50ms;*/
$global-transition-time: 50ms;

@mixin centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@mixin full-width {
	width: 100%;
}

.centered {
	@include centered;
}

.column {
	width: 700px;
}

.svg-width-circuit {
	width: 80%;
	min-width: 400px;
}

.svg-width-processor {
	width: 100%;
	min-width: 400px;
}

.svg-vertical-margin {
	margin-top: 100px;
	margin-bottom: 100px;
}

body {
	background-color: white;
	position: relative;
}

.body-copy {
	font-family: $font-body;
	font-size: 18px;
	text-align: left;
	color: $body-copy-color;
}

.banner-subhead-copy {
	font-family: $font-banner-subtitle;
	font-size: 22px;
	text-align: left;
	color: $circuit-color-on;
}

.paragraph-title-copy {
	font-family: $font-paragraph-headline;
	font-size: 22px;
	text-align: left;
	color: $body-copy-color;
}

.circuit-label {
	font-family: $font-body;
	text-align: center;
	color: $body-copy-color;
	text-anchor: middle;
}

.paragraph-title-spacer {
	margin-top: 10px;
	margin-bottom: 40px;
}

.banner-subhead-margin {
	margin-top: 20px;
	margin-bottom: 30px;
}

.body-width-line {
	width: 700px;
	border-top: 1px solid $body-light;
}

.body-copy-container {
	width: 700px;
	@include centered;
}

.cursor-pointer {
	cursor: pointer;
}

.fill-on {
	transition: fill $global-transition-time;
	fill: $circuit-color-on;
}

.fill-off {
	transition: fill $global-transition-time;
	fill: $circuit-color-off
}

.clickable {
	&:hover {
		fill: $circuit-color-hover;
		transition: fill 200ms;
	}
}

.stroke-on {
	transition: stroke $global-transition-time;
	stroke: $circuit-color-on;
}

.stroke-off {
	transition: stroke $global-transition-time;
	stroke: $circuit-color-off;
}


