/************************************************************************ 

CSS Styling for index.html

*************************************************************************/
body {
	background-color: white;
	position: relative;
}

.test-svg-container {
	width: 600px;
	height: 600px;
}


.centered {
	margin: auto;
}

.component--switch {
	cursor: pointer;
}


