@font-face {
	font-family: maisonNeue;
	src: url(/assets/fonts/MaisonNeue-Light.otf);
}

@font-face {
	font-family: akkurat;
	src: url(/assets/fonts/Akkurat-Light.otf);
}

@font-face {
	font-family: circularStd;
	src: url(/assets/fonts/CircularStd-Book.otf);
}

@font-face {
	font-family: lora;
	src: url(https://fonts.googleapis.com/css?family=Lora);
}

@font-face {
	font-family: inputSans;
	src: url(/assets/fonts/InputSansCondensed-Thin.ttf)
}

@font-face {
	font-family: inputSerif;
	src: url(/assets/fonts/InputSerif-Thin.ttf)
}

$font-body: akkurat;
/*$font-body: inputSans;*/
$font-paragraph-headline: akkurat;
$font-banner-headline: circularStd;
/*$font-banner-subtitle: akkurat;*/
$font-banner-subtitle: akkurat;
$font-circuit-label: akkurat;
