@font-face {
    font-family: 'Circular';
    src: url('/assets/fonts/CircularStd/CircularStd-Book.otf');
}

@font-face {
    font-family: 'Circular';
    src: url('/assets/fonts/CircularStd/CircularStd-Black.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Sentinel';
    src: url('/assets/fonts/Sentinel/Sentinel-Book.otf');
}

@font-face {
    font-family: 'Sentinel';
    src: url('/assets/fonts/Sentinel/Sentinel-BookItalic.otf');
    font-weight: italic;
}

/* Use these in individual components */
@mixin font-circular {
    font-family: 'Circular';
}

@mixin font-sentinel {
    font-family: Sentinel;
}